/* Header */

header {
	background-color: #FFCC66;
	height: 100px;
}

header p {
	position: relative;

}

/* Cards */

.card {
	width: 300px;
	height: 400px;
	border: 1px solid gray;
	margin-bottom: 30px;
}

.card img {
	/*width: 298px;
	height: 300px;*/
	width: 100%;
}

.name {
	font-weight: bolder;
}

.name, .descr {
	padding-left: 25px;
}